body, html {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    background-color: black;
    -webkit-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-family: Avenir;
}

a {
    text-decoration: none;
}

.nav-bar {
    width: 100%;
    height: 60px;
    position: fixed;
    color: white;
    background-color: black;
    z-index: 12;
}

.nav-item {
    float: right;
    text-align: right;
    font-size: 18px;
    font-weight: 600;
    margin-top: 15px;
    margin-right: 20px;
}

#contact:hover{
    cursor: pointer; 
    cursor: hand;
    color:#EDE7D3;
}

#skills:hover{
    cursor: pointer; 
    cursor: hand;
    color:#ff4500;
}

#reddit:hover{
    cursor: pointer; 
    cursor: hand;
    color:#4ca8a1;
}

#plugd:hover{
    cursor: pointer; 
    cursor: hand;
    color:#805489;
}

#top:hover{
    cursor: pointer; 
    cursor: hand;
    color:#3b5998;
}

.name {
    font-size: 36px;
    font-weight: 800;
    float: left;
    margin-top: 5px;
    margin-left: 20px;
}

.short-words{
    /*float: left;*/
    position: absolute;
    color: white;
    top: 25%;
    left: 50%;
    font-size: 30px;
    font-weight: 600;
}

#short-words1 {
    left: 61%;
}

#short-words2 {
    left: 76%;
}

.about-me {
    position: absolute;
    font-size: 18px;
    font-weight: 800;
    color: white;
    width: 575px;
    left: 50%;
}
#about-me{
    top: 40%;
}

#about-me1{
    top: 55%;
}

#about-me2 {
    top: 70%;
}

.sidebar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    background-color: #293e6a;
    -webkit-transform: translateX(-220px);
    -webkit-transition: all 0.3s;

}

.sidebar-item {
    font-weight: 400;
    font-size: 26px;
    color: white;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

/*miscellaneous*/
.carousel-container {
    width: 960px;
    margin: 0 auto;
    height: 700px;
    overflow: hidden;
    position: relative;
}

#carousel {
    width: 4800px;
    height: 100%;
    margin-left: 0px;
    -webkit-transition: all 0.3s;
}

.carousel-item {
    width: 960px;
    position: relative;
    height: 100%;
    float: left;
}

.section {
    width: 100%;
    height: 701px;
    position: relative;
}

#name-section {
    background-color: #3b5998;
}

#plugd-section {
    background-color: #805489;
}

#reddit-section {
    background-color: #4ca8a1;
}

#skills-section {
    background-color: #242424;
}

#resume-section {
    height: 1200px;
    background-color: #f9df8d;
}

#contact-section {
  height: 200px;
  background-color: black;
  color: white;
}

#contact-section a {
  color: white;
  text-decoration: none;
}

#contact-title {
  color: white;
}

.contact-info-wrapper{
  position: relative;
  top: 50%;
  left: 33%;
}

.icon1, .icon2, .icon3, .resume-text{
  float: left;
  margin-right: 40px;
  margin-left: 40px;
}

.img-name1 {
  display: none;
  position: absolute;
  float: right;
  left: 30px;
  bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.img-name2 {
  display: none;
  position: absolute;
  float: right;
  left: 130px;
  bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.img-name3 {
  display: none;
  position: absolute;
  float: right;
  left: 240px;
  bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.img-name4 {
  display: none;
  position: absolute;
  float: right;
  left: 355px;
  bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}

.clear {
	clear: both;
}

.img-scaled {
	width: 100%;
	height: 100%;
}

.img-scaled-wh {
	width: 100%;
	height: 100%;
	position: relative;
}

#nav-toggle { 
	position: absolute; 
	left: 50%; top: 50%; 
}

#nav-toggle {
	padding: 10px 30px 15px 0px; 
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
	height: 3px;
	width: 20px;
	background: #fff;
	position: absolute;
	display: block;
	content: '';
}

#nav-toggle span:before {
	top: -10px; 
    width: 30px;
}

#nav-toggle span:after {
    bottom: -10px;
    width: 30px;
}

/* Styling the Sidebar Button */
#sidebar-button {
	position: fixed;
	z-index: 100;
	left: 15px;
	top: 15px;
	cursor: pointer;
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
} 

/* Overriding default styles on the ul */
.sidebar-container ul {
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 10px;
}

.page-wrapper {
	height: 100%;
    /*display: table;*/
	-webkit-transition: all .3s;
	-moz-transition: all .3s;
	transition: all .3s;
}

/* Styling for the carousel previous button */
#carousel-prev {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    left: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the carousel next button */
#carousel-next {
    position: absolute;
    width: 40px;
    height: 40px;
    padding: 10px;
    right: 60px;
    top: 50%;
    margin-top: -30px;
    cursor: pointer;
    border-radius: 50%;
    border: 1px solid #fff;
    -webkit-transition: all 0.3s;
}

/* Styling for the quotes and text in each section */
.text {
	position: absolute;
	font-size: 36px;
	color: white;
	font-weight: 700;
    top: 10%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-10%);
    -moz-transform: translateX(-50%) translateY(-10%);
   	transform: translateX(-50%) translateY(-10%);
}

#name-text {
    width: 90%;
    text-align: center;
    font-size: 72px;
    border-bottom: 1px solid white;
}

#resume-title {
    top: 8%;
}

.profile-pic-container {
    position: absolute;
    top: 25%;
    left: 10%;
    border: 1px solid white;
    border-radius: 50%;
    width: 400px;
    height: 400px; 
    text-align: center;
}

#profile-pic {
    width: 380px;
    transition: 0.4s cubic-bezier(1, -1, 0, 2);
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 2%;
}

#name-description1 {
    top: 40%;
    left: 70%;
    -webkit-transform: translateX(-50%) translateY(-20%);
    -moz-transform: translateX(-50%) translateY(-20%);
    transform: translateX(-50%) translateY(-20%);
}
#name-description2 {
    top: 50%;
    left: 70%;
    -webkit-transform: translateX(-50%) translateY(-20%);
    -moz-transform: translateX(-50%) translateY(-20%);
    transform: translateX(-50%) translateY(-20%);
}

#name-description3 {
    top: 60%;
    left: 70%;
    -webkit-transform: translateX(-50%) translateY(-20%);
    -moz-transform: translateX(-50%) translateY(-20%);
    transform: translateX(-50%) translateY(-20%);
}

#name-description4 {
    top: 70%;
    left: 70%;
    -webkit-transform: translateX(-50%) translateY(-20%);
    -moz-transform: translateX(-50%) translateY(-20%);
    transform: translateX(-50%) translateY(-20%);
}

#description-text {
    font-size: 24px;
    color: white;
    font-weight: 400;
    top: 35%;
    left: 80%;
    -webkit-transform: translateX(-50%) translateY(-10%);
    -moz-transform: translateX(-50%) translateY(-10%);
    transform: translateX(-50%) translateY(-10%);
}

#iphone-img {
    position: absolute;
    top: 25%;
    left: 10%;
    width: 200px;
}

#iphone-img:hover {
    -ms-transform: scale(1.012); /* IE 9 */
    -webkit-transform: scale(1.012); /* Chrome, Safari, Opera */
    transform: scale(1.012);
}

#iphone-img1 {
    position: absolute;
    top: 25%;
    left: 30%;
    width: 200px;
}

#iphone-img1:hover {
    -ms-transform: scale(1.012); /* IE 9 */
    -webkit-transform: scale(1.012); /* Chrome, Safari, Opera */
    transform: scale(1.012);
}

#iphone-img2 {
    position: absolute;
    top: 25%;
    left: 50%;
    width: 200px;
}

#iphone-img2:hover {
    -ms-transform: scale(1.012); /* IE 9 */
    -webkit-transform: scale(1.012); /* Chrome, Safari, Opera */
    transform: scale(1.012);
}

#reddit-img{
    position: absolute;
    border-radius: 5px;
    width: 700px;
    top: 25%;
    left: 10%;

}

#reddit-img:hover{
    -ms-transform: scale(1.012); /* IE 9 */
    -webkit-transform: scale(1.012); /* Chrome, Safari, Opera */
    transform: scale(1.012);
}

#resume-title {
    color: black;
}

/* Styling for the author text in each quote */
.author {
	font-size: 12px;
	font-weight: 700;
	letter-spacing: .2rem;
	text-transform: uppercase;
	margin-top: 10px;
	text-align: center;
}

.no-scroll {
	overflow: hidden;
}

.wrapper-active, .button-active {
	-webkit-transform: translateX(220px);
	-moz-transform: translateX(220px);
	transform: translateX(220px);
}

.sidebar-active {
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	-o-transform: translateX(0px);
}

#wrapper {
   height: 420px;
   left: 50%;
   margin: -210px 0 0 -270px;
   position: absolute;
   top: 50%;
   width: 540px;
}

@-webkit-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-width {
  0% {
    width: 0;
  }
  100% {
    visibility: visible;
  }
}
@-webkit-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@-moz-keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}
@keyframes animate-height {
  0% {
    height: 0;
  }
  100% {
    visibility: visible;
  }
}

#bar-chart {
  height: 600px;
  width: 80%;
  position: absolute;
  top: 5%;
  left: -2%;
  margin: 50px auto 0;
}
#bar-chart * {
  box-sizing: border-box;
}
#bar-chart .graph {
  height: 200px;
  position: relative;
}
#bar-chart .bars {
  height: 450px;
  padding: 0 2%;
  position: absolute;
  width: 100%;
  z-index: 10;
}
#bar-chart .bar-group {
  display: block;
  float: left;
  height: 100%;
  position: absolute;
  left: 10%;
  width: 100%;
  margin-right: 10%;

}

#bar-chart .bar-group:last-child {
  margin-right: 0;
}
#bar-chart .bar-group .bar {
    color: white;
    font-weight: 600;
    font-size: 18px;
    
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;  
  visibility: hidden;
  height: 0;
  -webkit-animation: animate-height;
  -moz-animation: animate-height;
  animation: animate-height;
  animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -webkit-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  -moz-animation-timing-function: cubic-bezier(0.35, 0.95, 0.67, 0.99);
  animation-duration: 0.4s;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  box-shadow: 1px 0 2px rgba(0, 0, 0, 0.15);
  border: 1px solid #2d2d2d;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  cursor: pointer;
  height: 0;
  position: absolute;
  text-align: center;

  width: 100px;
}
#bar-chart .bar-group .bar:nth-child(2) {
  left: 10%;
}
#bar-chart .bar-group .bar:nth-child(3) {
  left: 20%;
}
#bar-chart .bar-group .bar:nth-child(4) {
  left: 30%;
}
#bar-chart .bar-group .bar:nth-child(5) {
  left: 40%;
}
#bar-chart .bar-group .bar:nth-child(6) {
  left: 50%;
}
#bar-chart .bar-group .bar:nth-child(7) {
  left: 60%;
}
#bar-chart .bar-group .bar:nth-child(8) {
  left: 70%;
}
#bar-chart .bar-group .bar:nth-child(9) {
  left: 80%;
}
#bar-chart .bar-group .bar:nth-child(10) {
  left: 90%;
}
#bar-chart .bar-group .bar:nth-child(11) {
  left: 100%;
}

.chart-label {
    position: absolute;
    width: 100px;
    height: 50px;
    font-weight: 600;
    font-size: 21px;
    bottom: 10%;
}

#proficient {
    color: #ff4500;
    margin-left: 310px; 
    /*left: 30.2%;*/
}

#experienced {
    color: #b8f123;
    margin-left: 755px;
    /*left: 74%;*/
}

#familiar {
    color: #00c5ff;
    margin-left: 1090px;
    /*left: 106.5%;*/
}

#bar-chart .bar-group .bar a {
    font-size: 18px;
    width: 10px;
    word-wrap: break-word;  
}

#bar-chart .bar-group .bar:hover {
    margin-bottom: 20px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


#bar-chart .stat-1 {
  background-image: -webkit-linear-gradient(left, #ff4500 0%, #ff4500 47%, #cf3a02 50%, #cf3a02 100%);
  background-image: linear-gradient(to right, #ff4500 0%, #ff4500 49%, #cf3a02 50%, #cf3a02 100%);
}
#bar-chart .stat-2 {
  background-image: -webkit-linear-gradient(left, #b8f123 0%, #b8f123 47%, #79a602 50%, #79a602 100%);
  background-image: linear-gradient(to right, #b8f123 0%, #b8f123 49%, #79a602 50%, #79a602 100%);
}
#bar-chart .stat-3 {
  background-image: -webkit-linear-gradient(left, #00c5ff 0%, #00c5ff 47%, #0383a9 50%, #0383a9 100%);
  background-image: linear-gradient(to right, #00c5ff 0%, #00c5ff 49%, #0383a9 50%, #0383a9 100%);
}

.resume {
    border: 2px solid white;
    border-radius: 5px;
    margin-top: 13%;
    margin-left: 21%;
}
